.battlegrip-container {
    height:700px;
    padding-top:100px;
    text-align: center;
    background-color: black;
    margin-bottom: 4rem;
}

.battlegrip-img-div {
    /* margin-bottom: 4rem; */
    width: 100vw !important;
    box-shadow: inset 1px 1px 40px rgba(196, 196, 196, 0.1);
    background-color: rgb(10, 10, 10);
    border-top:2px solid rgb(50, 50, 50);
    border-bottom:2px solid rgb(50, 50, 50);

}
.battlegrips-header-main {
    color:var(--primary-color);
    font-size: 4rem !important;
    position: relative;
    margin-bottom: 1rem;
}
.battlegrips-header {
    
}
.battlegrips-img {
    width:45%;
    /* background-color: rgb(10, 10, 10); */
border-radius: 20px;
}

.trademark-icon {
    color:white;
    font-size: 2rem;
    position: absolute;
}

.specifications-item {
    grid-column: span 2;
    text-align: center !important;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding:2rem 2rem;
    /* height:200px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Black Ops One';
    margin:2rem;
    border:3px solid black;
    width:50%;
    margin: 2rem auto;
}

.specifications-item > ul {
    list-style-type: none;
    text-align: left;
}
.specifications-item > ul > li {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.specs-header {
    margin:0;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.specs-bold {
    font-family: 'Black Ops One';
    font-size: 1.5rem ;
    min-width: 200px;
}

@media (max-width: 500px) {
    .battlegrips-header-main {
        color: var(--primary-color);
        font-size: 3rem !important;
        position: relative;
        margin-top:4rem;
        margin-bottom: 4rem;
    }

.trademark-icon {
    color:white;
    font-size: 2rem;
    position: absolute;
    top:-40%;
    right:5%;
}
.battlegrips-img {
    width: 70%;
}

.specifications-item {
    grid-column: span 2;
    text-align: center !important;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 2rem 0rem;
    /* height: 200px; */
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Black Ops One';
    /* margin: 2rem; */
    margin:2rem 0;
    border: 3px solid black;
    width: 100%;
    /* margin: 2rem auto; */
}

.specs-bold {
    font-family: 'Black Ops One';
    font-size: 1rem ;
}
.specifications-item > ul > li {
    margin-bottom: 2rem;
    display: block;
    align-items: center;

}

.specs-header {
    font-size: 2rem;
}

.specifications-item > ul {
   padding-left:0.5rem;
}
.battlegrip-img-div {
    margin-bottom: 4rem;
}
}

