.navbar {
    position: fixed;
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(255,255,255,0);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    top:0;
    align-items: center;
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.2);
    padding-left:2rem;
    z-index:99999;
    transition: 0.2s ease all;
}

.navbar .nav-link:hover {
    color:white;
}
.scroll .nav-link:hover {
    color:black;
}

.scroll .hamburger-menu-icon {
    color:black;
}

.scroll {
    background-color:rgba(255,255,255,1);
    color: var(--primary-color);
    box-shadow: 1px 3px 12px rgba(20, 20, 20, 0.2);

}

.nav-logo {
    width:7%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
    margin-right: 1rem;  
    /* padding-top:0.5rem; */
    /* box-shadow: 1px 1px 8px rgba(255,255,2550.3); */
}
.nav-brand-link {
    display: flex;
    align-items: center;
}

.nav-logo-brand {
    text-transform: uppercase;
    letter-spacing: -0.05vw;
    font-size: 2.5rem;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
    width:100%;
}

.nav-link {
    margin: 0rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Black Ops One';
    transition: 0.2s ease all;
}

.nav-link:hover {
    color:black;
}

.shopping-nav-link {
    background-color: var(--primary-color);
    /* padding:0.3rem 0.4rem; */
    display: flex;
    /* padding:1rem 0rem; */
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
    width:100px;
    color:white;
    cursor: pointer;
    padding:0.2rem 0rem;
    border-radius: 10px;
}

.shopping-cart {

}
.shopping-nav-link:hover {
    color: white;;
}

.hamburger-btn {
    display: none;
    position: relative;
}

.hamburger-menu-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
    z-index:99999 !important;
    color:white;
    position: relative;
    cursor: pointer;
}

.mobile-nav {
    position: absolute;
    height:100vh;
    background-color: var(--primary-color);
    top:0;
    right:0;
    z-index:9 !important;
    margin:0;
    padding: 3rem 2rem;
    padding-top:100px;
    transition: 0.2s ease-in-out all;
}
.mobile-nav-not-visible {
    opacity: 0;
    position: absolute;
    padding: 3rem 2rem;
    height:100vh;
    background-color: var(--primary-color);
    top:0;
    right:0;
    z-index:9 !important;
    margin:0;
    transition: 0.2s ease-in-out all;
    transform: translateX(400px);
}

.mobile-nav-list {
    list-style-type: none;
    color:white;
    margin:0;
    padding: 0;
}

.mobile-nav-link {
    font-size: 2rem;
    margin: 1rem 1rem;
    transition: 0.2s ease all;
    font-family: 'Black Ops One' !important;
    cursor:pointer;
}
.mobile-nav-link:hover {
    color:rgb(214, 214, 214);

}


@media (max-width: 968px) {
    .nav-menu {
        display: none;
    }
    .hamburger-btn {
        display: block;
    }


}

@media (max-width: 500px) {
    .nav-logo-brand {
       font-size: 1.5rem;
       display: none;
    }

    .nav-logo {
        margin-right: 0.5rem;
        width: 15%;
    }


}